extends ../layout

block content
  body(style='background-image: url("../assets/FoodBackground.png") !important; background-size: cover;')
    .card.login-page
      .card-body.login-page
        form(method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group.row
            label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Имейл
            .col-md-7
              input.curved-panel.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, autocomplete='email', required)
          .form-group.row
            label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') Парола
            .col-md-7
              input.curved-panel.form-control(type='password', name='password', id='password', placeholder='Password', autocomplete='current-password', required)
          .form-group
            .offset-md-3.col-md-7.pl-2
              button.col-md-3.btn.btn-primary(type='submit')
                i.far.fa-user.fa-sm
                | Вход
              a.btn.btn-link(href='/forgot' style='color: white;') Забравена парола?
          .form-group
            .offset-md-3.col-md-7.pl-2
              hr
          .form-group
            .offset-md-3.col-md-7.pl-2
              a.btn.btn-block.btn-google.btn-social(href='/auth/google')
                i.fab.fa-google-plus-g.fa-xs
                | Sign in with Google
              a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
                i.fab.fa-facebook-f.fa-sm
                | Sign in with Facebook
