footer
  .container.text-center.text-white
    p.float-left © 2020 Extra Meal Company, Inc. All Rights Reserved
    //- ul.float-right.list-inline
    //-   li.list-inline-item
    //-     a(href='https://github.com/sahat/hackathon-starter') GitHub Project
    //-   li.list-inline-item
    //-     a(href='https://github.com/sahat/hackathon-starter/issues') Issues
