.navbar.navbar-light.fixed-top.navbar-expand-lg.bg-light(style="background: linear-gradient(40deg,#ffd86f,#fc6262) !important;")
  .container
    a.navbar-brand.text-white(href='/')
      i.fas.fa-tree.text-white
      | Extra Meal
    button.navbar-toggler.navbar-dark(type='button', data-toggle='collapse', data-target='.navbar-collapse', style="background: linear-gradient(90deg,rgb(240, 130, 104),#fc6262) !important;")
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse        
      ul.nav.navbar-nav.ml-auto
        if !user
          li.nav-item(class=(title === 'Login') ? 'active' : undefined)
            a.nav-link.text-white(href='/login') Login
          li.nav-item(class=(title === 'Create Account') ? 'active' : undefined)
            a.nav-link.text-white(href='/signup') Create Account
        else
          li.dropdown(class=(title === 'Account Management') ? 'active' : undefined).nav-item
            a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')  
              span=user.email || user.id
              i.caret
            div.dropdown-menu
              if !user.restaurantExtension || !user.restaurantExtension.restaurantName
                a.dropdown-item(href='/orders') My Orders
              else
                a.dropdown-item(href='/orders') Received Orders
              div.dropdown-divider
              a.dropdown-item(href='/logout') Logout
