extends layout

block head
  link(res='stylesheet' href='../public/css/homepage.css')

block content

  body.bg-image
    .row
      .col-md-5
        .card.mt-4.mb-2.p-2.text-white(style="border-radius: 0.8rem; box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); background: linear-gradient(40deg,#ffd86f,#fc6262) !important; opacity: .95;")
          .card-body
            h2.card-title Extra Meal
            .p.card-text.h4
              | Some text starting here
              <br>
              | text
              <br>
              | text
              <br>
              | text
              <br>
              | text
              <br>
              | text
              <br>
              | text
    .row.mt-4
      .col-12.col-md-12.Zcol-lg-12  
        //- form.card.card-sm(style="box-shadow: 0 0 15px black;")
        .card-body.p-0.row.no-gutters.align-items-center
          .col
            input.form-control.form-control-lg.form-control-borderless(type="search", placeholder="Search topics or keywords", style="box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);")
          .col-auto
            button.btn.ml-3.text-white.fas.fa-search(type="submit", style="box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); border-radius: 0.3rem; height: calc(1.5em + 1rem + 2px);padding: 0.5rem 1rem;font-size: 1.25rem;line-height: 1.5; background: linear-gradient(40deg,#ffd86f,#fc6262) !important;")
            
            



  //- h1 Get cheap food. Help the environment.
  //- .row
  //-   .col-md-3
  //-     h2 Heading
  //-     p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  //-     p
  //-       a.btn.btn-raised(href='#', role='button') View details »
  //-   .col-md-3
  //-     h2 Heading
  //-     p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  //-     p
  //-       a.btn.btn-raised(href='#', role='button') View details »
  //-   .col-md-3
  //-     h2 Heading
  //-     p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  //-     p
  //-       a.btn.btn-raised(href='#', role='button') View details »
  //-   .col-md-3
  //-     h2 Heading
  //-     p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  //-     p
  //-       a.btn.btn-raised(href='#', role='button') View details »