extends layout

block head
  link(rel="stylesheet" type="text/css" href="css/homepage.css")

block content
  script(src="js/buttonEventHandlers.js")
  body.body-home-page
    .row
      .col-md-5
        .card.mt-4.mb-2.p-2.text-white.info-card
          .card-body
            h2.card-title Extra Meal
            .p.card-text.h5
              | From the mist, a shape, a ship, is taking form  <br> 
              | And the silence of the sea is about to drift into a storm <br>
              | Sign of power, show of force <br>
              | Raise the anchor, battleship's plotting its course
    .row.mt-4
      .col-12.col-md-12.Zcol-lg-12  
        //- form.card.card-sm(style="box-shadow: 0 0 15px black;")
        .card-body.p-0.row.no-gutters.align-items-center
          .col
            input.form-control.form-control-lg.form-control-borderless.shadow-15p-7(type="search", placeholder="Search topics or keywords", id="searchOffers")
          script.
            openOffers = () => {
              let searchText = document.getElementById("searchOffers").value;
               
              window.location.href= searchText ? '/offers?search=' + searchText : '/offers'; 
            }
          .col-auto
            button.btn.ml-3.mr-0.text-white.fas.fa-search.shadow-15p-7.gradient-symbol-button(type="submit", onclick="openOffers()")
            button.btn.ml-3.text-white.fas.fa-map.shadow-15p-7.gradient-symbol-button(type="submit", href="#", data-toggle="modal", data-target="#modal-map")
    .modal(id="modal-map")
      .modal-dialog.modal-xl
        .modal-content
          .modal-header
            .modal-title.font-24p Филтриране на ресторанти
          .modal-body
            .row
              .col-md-2.col-lg-2.col-sm-12
                form
                  .form-group
                    label(for="slider-price") Цена: 
                    input(type="range", min="1", max="30", id="slider-price")
                    p Цена под: &nbsp
                      span(id="price-to")
                      span лв.
                      script.
                        let sliderPrice = document.getElementById("slider-price");
                        sliderHandler(sliderPrice, document.getElementById("price-to"));
                        sliderPrice.oninput = () => {sliderHandler(sliderPrice, document.getElementById("price-to")) };
                    <br>
                    label(for="slider-distance") Дистанция: 
                    input(type="range", min="1", max="3000", value="1500", id="slider-distance")
                    p Дистанция под: &nbsp
                      span(id="distance-to")
                      span м.
                      script.
                        let sliderDistance = document.getElementById("slider-distance");
                        sliderHandler(sliderDistance, document.getElementById("distance-to"));
                        sliderDistance.oninput = () => {sliderHandler(sliderDistance, document.getElementById("distance-to")) };
                    .row
                      .form-group.col-12
                        input(type="checkbox", name="vegan-checkbox", id="vegan-checkbox", autocomplete="off")
                        .btn-group
                          label.btn.btn-success(for="vegan-checkbox")
                            span.fas.fa-leaf
                            span &nbsp
                          label.btn.btn-default.active(for="vegan-checkbox") Vegan
                      .form-group.col-12
                        input(type="checkbox", name="keto-checkbox", id="keto-checkbox", autocomplete="off")
                        .btn-group
                          label.btn.btn-success(for="keto-checkbox")
                            span.fas.fa-leaf
                            span &nbsp
                          label.btn.btn-default.active(for="keto-checkbox") Keto
                      .form-group.col-12
                        input(type="checkbox", name="gluten-free-checkbox", id="gluten-free-checkbox", autocomplete="off")
                        .btn-group
                          label.btn.btn-success(for="gluten-free-checkbox")
                            span.fas.fa-leaf
                            span &nbsp
                          label.btn.btn-default.active(for="gluten-free-checkbox") Gluten-free
                      .form-group.col-12
                        input(type="checkbox", name="sugar-free-checkbox", id="sugar-free-checkbox", autocomplete="off")
                        .btn-group
                          label.btn.btn-success(for="sugar-free-checkbox")
                            span.fas.fa-leaf
                            span &nbsp
                          label.btn.btn-default.active(for="sugar-free-checkbox") Sugar-free
                    .button.btn.btn-primary.bottom-left-align Search  
                      

              .col-10
                #map
                script.
                  var textArea = document.createElement('textarea');
                  textArea.id = 'restaurants';
                  textArea.innerHTML = `#{restaurants}`;
                  var restaurant_list = JSON.parse(textArea.value);
                script(src='/js/map.js')
                script(async defer src=`https://maps.googleapis.com/maps/api/js?key=` + process.env.GOOGLE_MAP_API_KEY +`&callback=initMap`)
