extends layout

block content
    script(src='https://polyfill.io/v3/polyfill.min.js?features=default')
    script(src='https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly' defer='')
    link(rel='stylesheet' type='text/css' href='./style.css')
    script(src='./map.js')
    #map
