extends layout

block content
  body.items-body 
    .row.ml-5.pl-5
      for offer in X
        .card.main-card.m-4.p-0
          .upper-card
            img(src="../assets/img/dessert1.jpg").card-thumbnail
          .row.m-4 #{offer.title}
          .row.mb-4 #{offer.offer}
          .row.mb-4 #{offer.price}
          .button.bnt.btn-primary Поръчване

      
