extends layout

block content
  h1 Ревю
  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='text') Ревю
      .col-md-7
        input.form-control(type='text', name='text', id='text', placeholder='...', autofocus)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='score') Оценка
      .col-md-7
        input.form-control(type='number', name='score', id='score', required)
    .form-group
      .offset-md-3.col-md-12.pl-2
        button.col-md-3.btn.btn-primary(type='submit')
          i.far
          | Направи Ревю
