@import "UI.scss";

.rounded-input{
    @extend .curved-panel;
}
.register-page{
    @extend .curved-panel;    
    background: rgb(240,237,233) !important;
    color: white;
}

.login-page{
    @extend .curved-panel;
    background: linear-gradient(40deg,#ffd86f,#fc6262) !important;
    color: white;
}

.register-tab{
    width:50.0015%;
    background-color: rgba($orange, 0.5);
    font-size: 1.3em;
}


.register-text{
    color:white;
}
.register-text:hover{
    color:white;
}

.tab-page{
    margin-top:2vw;
}

.tab-buttons{
    position: relative;
    width: 100%;
}

#btn1{
    border-radius: 2.5vw 0 0 0;
    text-align: center;

    a{
        background-color: #fc6262;
        border-radius: 2.5vw 0 0 0;
        border: 0;
        color:white;
    }
    
    position: relative;
    // top:-0.75rem;
    // left:-0.75rem;
}

#btn2{
    border-radius: 0 2.5vw 0 0;
    text-align: center;

    a{
        background-color: $blue;
        border-radius: 0 2.5vw 0 0;
        border: 0;
        color:white;
    }

    position: relative;
    // top:-0.75rem;
    position: absolute;
    right:0;
}
