.curved-panel{
    border-radius: 2.5vw 2.5vw 2.5vw 0.5vw;
    box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.61);
  }
  
  .main-card{
    @extend .curved-panel;
    width: 15vw;
    height: 26vw;
    background-color: rgb(240, 237, 233);
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-title{
    color: $gray;
    text-align: center;
  }
  
  .upper-card{
    @extend .curved-panel;
    width: 15vw;
    height: 14vw;
    background:linear-gradient(40deg,rgba(255, 216, 111, 0.65),rgba(252, 98, 98, 0.65)) !important;
    //background: rgba(244, 67, 54, 0.1);

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .button{
    width: 10vw;
    height: 2vw;
    border-radius: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#039be5;
    color: white;
    
    position: absolute;
    bottom: 5%;
  }

  .card-thumbnail{
    margin-left: 0.25vw;
    margin-right: 0.25vw;
    width: 100%;
    height: 100%;
    border-radius: 2.5vw 2.5vw 2.5vw 0.5vw;
  } 

  .items-body {
    background-image: url('../assets/img/1_ogduQKQcAgpCEQbb3Uo0Wg.jpeg');
    background-size: cover;
  }

  .add-scroll {
    height: 540px !important;
  }

  .disable-scrollbars::-webkit-scrollbar {
    width: 0px !important;
    background: transparent !important;
  }